<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
</head>
<body>
    <div class="header">
        {% if user.is_authenticated %}
            <h1>Witaj, {{ user.username }}!</h1>
            <p>Jesteś zalogowany jako: {{ user.first_name }} {{ user.last_name }}</p>
            <a href="{% url 'get_companies' %}">Zobacz swoje firmy!</a>
            <a href="{% url 'logout' %}">Wyloguj się</a>
        {% else %}
            <h1>Witaj na naszej stronie!</h1>
            <p>
                <a href="{% url 'login' %}">Zaloguj się</a> |
                <a href="{% url 'register' %}">Zarejestruj się</a>
            </p>
        {% endif %}
    </div>

    <div class="main-content">
        <h2>Aplikacja Fakturownia.</h2>
        <p>Zarządzaj swoimi fakturami w prosty sposób!</p>
    </div>
</body>
</html>